body {
    margin: 0;
    padding: 0;
    background-color: #27262C;
}

#Banner {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
}

body > .grid {
    height: 100%;
}

.image {
    margin-top: -100px;
}

.column {
    max-width: 450px;
}

