@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Layouts/Dashboard.cshtml";
}
<div class="ui grid">
    <div class="ten centered wide column">
        @*<img class="ui fluid image bordered rounded" src="~/Content/images/Escritorio .png">*@
    </div>
</div>

<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        
        
        HOLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL
        <div class="sub header">
            <div class="ui breadcrumb">
                @*<p class="section" href="@Url.Action("HomeAdmin","Home")">Uno27</p>*@
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>
</div>

