@{
    ViewBag.Title = "Index";
}
    <div class=" segment">

    </div>
    <h4 class="ui horizontal divider header">
        <button class="ui  large red submit button">
            <i class="tasks icon"></i>
            LISTA DE User
        </button>
    </h4>
